*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: center;
    font-size: 90%;
    margin-left: 35%;
}
.header{
    font-size: large;
    text-align: center;
    background-color: #e48062;
}