@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: antiquewhite;
    text-decoration-line:underline ;
}
h2{
    padding: 3%;
    font-size: 200%;
   

}

.header{
    display: flex;
    flex-direction: column;
    font-size: 50%;
    text-align: center;
    padding: 1%;
   
}
.d-flex{
    margin-left: 50%;

}
.correo, .direccion{
    font-size: 150%;
}
.informacionP{
    background-color: #c76354;
    border-radius: 9%;
    font-size: 60%;
    text-align: center;
    color: whitesmoke;
}

.container{
    margin-top: 10%;
}

.resumen{
    text-align: center;
    font-size: 150%;
}

.texto-resumen{
    font-size: large;
}