*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: center;
    margin-left: 35%;
}
h2{
    padding: 3%;
}

.header{
    display: flex;
    flex-direction: column;
    font-size: 50%;
    text-align: center;
    padding: 1%;

}
.d-flex{
    margin-left: 50%;

}
.correo, .direccion{
   color: black;
   font-size: 150%;
}